<div class="weibo_right_showAll">
{foreach $weibo_list as $value}
<div class="row">
	<div class="col-lg-2 user_head">
		<img src="{$value.user_pic}" alt="">
	</div>
	<div class="col-lg-10">
		<div class="list_content">
			<ul class="weibo_show_ul">
				<!-- 图片 -->
				<li class="weibo_show_li">
					<div class="triangle"></div>
					<div class="weibo_show_content">
						<h4>{$value.title}</h4>
							{if $value.pic}
								<div class="weibo_content_img">
									<img src="{$value.pic}" alt="">
								</div>
							{elseif $value.music}
							    <div class="">
									<p>歌名：{$value.music_name}</p>
									<audio src="{$value.music}" controls="" style="width: 100%;"></audio>
								</div>
							{elseif $value.video}
								<div class="weibo_content_img">
									<video src="{$value.video}" height="100%" controls=""></video>
								</div>
							{else}
								<div class="weibo_content_img">
									<p>{$value.content}</p>
								</div>
							{/if}	
							<div class="weibo_show_time overflow">
								<p class="pull-right">{format_date($value.create_content_time)}</p>
							</div>
						<div class="weibo_zan_button">
							<!-- 四个按钮 -->
							<ul data-id="{$value.content_id}">
								<li>收藏</li>
								<li>
									<span class="praise_btn">
										点赞
										<span class="praise_num">{$value.praise_num}</span>
									</span></li>
								<li><span class="comment_up" data-id="{$value.content_id}">评论</span></li>
								{if 1==$value.del_content}
									<li><span class="del_content_btn">删除</span></li>
								{else}
									<li><span class="transmite_btn">转发</span></li>
								{/if}
							</ul>
						</div>
					</div>
					<!-- 评论发布 -->
					<div class="weibo_shwo_commentRelease display_none">
						<textarea name=""  class="commont_texarea" style="width:100%"></textarea>
						<input type="button" class="btn btn-default send_commont" data-id="{$value.content_id}" value="发布评论">
					</div>
					<!-- 显示评论 -->
					<div class="weibo_shwo_comment display_none">
						<ul>
							
						</ul>
					</div>
				</li>
			</ul>	
		</div>
	</div>
</div>
{/foreach}
</div>