<div class="sanjiao_box"></div>

<div class="list_content">
	<h4>{item.weibo_title}</h4>
	<div>
		{item.content}
	</div>
	<div>
		<!-- 四个按钮 -->
		<ul>
			<li>收藏</li>
			<li>点赞</li>
			<li>评论</li>
			<li>删除</li>
		</ul>
	</div>
</div>

<div class="commont_form_box hide_box">
<div class="col-lg-2">
	<img src="" alt="">
</div>
<div class="col-lg-10">
	<textarea name=""  class="commont_texarea" style="width:100%"></textarea>
	<input type="button" class="btn btn-default send_commont" data-id="" value="发布评论"></div>
</div>

<ul class="commont_list">
	<li>我是评论1</li>
</ul>